* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body{
   background-color: whitesmoke;
    height: 100%;
    margin: 0px;
    
}
header{
    border-bottom-style: ridge;
    background-color: white;

}
.main{
    margin-top: 35px;
    margin-left: 33px;
    padding-left: 0px;
}
form h2{
    color: rgb(70, 182, 145);
    padding: 30px 0px 30px 0px;
    border-bottom-style: ridge;
    margin-bottom: 30px;
}
.contact
{
    margin-top: 20px;
    background-color: white;
    margin-left: 0px;
    margin-bottom: 20px;
    padding-bottom: 20px;
   
}
.h1 {
  background-color: rgb(70, 182, 145);
  
  color: white;
  text-align: center;
  padding: 13px;
  margin-left: 33px;
  margin-bottom: 0;
}
li {
  align-items: center;
  display: flex;
}


@media only screen and (max-width: 600px) {
  .center{
    margin-left: 0px;
    justify-content: center;
  }
}

@media only screen and (min-width: 601px) {
  .end {
    justify-content: flex-end;
  }
}

.input{
    background-color: rgb(70, 182, 145);
    border-color: rgb(70, 182, 145);
}
.footer{
  padding-left: 0px;
}
.foot{
    bottom: 0px;
    border-top: solid 3px;
    margin-top: 17px;
    border-top-color: rgb(70, 182, 145);
    padding: 33px 0px 33px 0px;
    color: white;
    background-color: gray;
    position: fixed;
    width: 100%;
    margin-left: 0px;
    padding-left: 0%;
}

